@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    scroll-behavior: smooth;
    border: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    height: 100vh;
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --p-color: #C6C6C6;
    --border-inside-color: #38908A;
    --main-color: #00abf0
}

header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 2rem 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.logo {
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.navbar a {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    padding: 10px 20px;
    transition: .3s ease-in-out;
    letter-spacing: 1px;
}

.navbar a:hover {
    color: var(--border-inside-color);
    border-bottom: 2px solid var(--border-inside-color);
}

.navbar .active {
    color: aqua;
    border-bottom: 2px solid aqua;
}

.hamburger-icon {
    cursor: pointer;
    display: block;
}

.hamburger-icon .bar1, .bar2, .bar3 {
    background-color: var(--text-color);
    width: 35px;
    height: 3px;
    margin: 6px 0;
    transition: all .3s ease-in-out;
}

.open .bar1 {
    transform: rotate(45deg) translate(10.3px, 2px);
}
.open .bar2 {
    opacity: 0;
}
.open .bar3 {
    transform: rotate(-45deg) translate(10.3px, -2px);
}

.open .mobile-menu {
    background-color: var(--bg-color);
    backdrop-filter: blur(5px);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    align-items: center;
    justify-content: space-around;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.open .mobile-menu a {
    color: var(--text-color);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin: 2px;
    transition: all .3s ease-in-out;
}

.open .mobile-menu a:hover {
    color: var(--border-inside-color);
    border-bottom: 2px solid var(--border-inside-color);
}

.open .mobile-menu a:active {
    color: aqua;
    border-bottom: 2px solid aqua;
}

.mobile-menu {
    display: none;
}

/* HOME CSS */
.home {
    background: url(./assets/barber\ bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    top: 60px;
    opacity: .8;
}

.home .left-col {
    background-color: transparent;
    max-width: 60rem;
    margin: 2rem 9%;
    position: relative;
    top: 30rem;
}

.home h1 {
    font-size: 5.6rem;
    font: 700;
    line-height: 1.3;
    color: var(--text-color);
    letter-spacing: 2px;
}

.home h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 2rem 0 4rem;
    color: transparent;
    -webkit-text-stroke: .7px aqua;
}

.home p {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 2rem 0 4rem;
    color: var(--p-color);
}

.home .btn-container {
    background-color: transparent;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .btn-container .btn {
    width: 15rem;
    height: 100%;
    border: .2rem solid #00FFFf;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: orange;
}

.home .btn-container a {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.home .btn-container a::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--border-inside-color);
    z-index: -1;
    transition: .5s ease-in-out;
}

.home .btn-container a:hover::before {
    width: 100%;
}

/* ABOUT CSS */
.about {
    position: relative;
    top: 60px;
    height: 100vh;
    background-color: var(--second-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 6rem;
    position: relative;
}

.about .heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--text-color);
    font-weight: 700;
}

.heading span {
    color: var(--main-color);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}

.about-content {
    text-align: center;
    z-index: 10;
}

.about-content h3 {
    font-size: 2.6rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px orange;
    letter-spacing: 2px;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    color: var(--p-color);
    font-weight: 700;
}

/* SERVICES CSS */
.services {
    position: relative;
    top: 60px;
    height: auto;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: auto;
}

.services .heading {
    font-size: 5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--text-color);
    font-weight: 700;
}

.services .services-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.services .services-column {
    flex: 1 1 40rem;
    padding: 0 9%;
    padding-top: 4.3rem;
}

.services-column .title {
    color: transparent;
    -webkit-text-stroke: .7px #00FFFf;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
    letter-spacing: 3px;
}

.services-column .services-box {
    border-left: .2rem solid var(--main-color);
}

.services-box  .services-content {
    position: relative;
    padding-left: 2rem;
}

.services-box  .services-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--main-color);
    border-radius: 50%;
}

.services-box .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    transition: .5s;
}

.services-box .content:hover {
    transform: scale(1.1);
}

.services-box .year {
    color: var(--text-color);
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

.services-box .year i {
    padding-right: .5rem;
}

.services-box h3 {
    color: transparent;
    font-size: 2rem;
    letter-spacing: 2px;
    -webkit-text-stroke: .7px orange;
}

.services-box p {
    color: var(--p-color);
    padding-top: .5rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: capitalize;
}

/* PHOTO CSS */
.photos {
    background-color: var(--second-bg-color);
    height: auto;
    position: relative;
    top: 60px;
}

.photos .heading {
    font-size: 5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--text-color);
    font-weight: 700;
}

.photos .design-photo {
    position: absolute;
    height: 50%;
}

.photos h2 {
    position: relative;
    display: block;
    top: 10rem;
}

.photos .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    height:100%;
    position: relative;
    margin-top: 12rem;
    row-gap: 5rem;
    column-gap: 3rem;
    padding: 2rem 9%;
    z-index: 10;
}

.photos img {
    border: .5rem solid rgba(0,0,0,.3);
    height:100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 20px 10px 3px var(--bg-color);
    transition: .5s;
}

.photos img:hover {
    transform: scale(1.1);
}

/* FOOTER CSS */
footer {
    background-color: var(--bg-color);
    color: white;
    font-size: 1.3rem;
    padding: 2rem 9%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;
}